#todo-error{
  color: red;
  font-size: 2em;
}

/* #bg-img{
  background-image: url('//bcw-sandbox.herokuapp.com/api/images');
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
} */